version: '3.8'

services:
  db:
    image: mysql:8.0
    restart: always
    container_name: nestjs_starter_mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: nestjs_starter
    ports:
      - '3307:3306'

    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
